.form__submit-button {
  width: 358px;
  min-height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  transition: 1s ease;
}
.form__submit-button:hover {
  border-radius: 2px;
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (min-width: 320px) and (max-width: 617px) {
  .form__submit-button {
      max-width: 238px;
      min-height: 46px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 43px;
  }
}