.profile__add-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-self: right;
  background-image: url(../../../image/Add-Button_Plus-Sign.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  max-width: 154px;
  min-height: 41px;
  margin: 0;
  padding: 0;
  margin-top: 41.5px;
  margin-bottom: 41.5px;
  margin-left: auto;
  border-radius: 2px;
  background-color: #000;
}

.profile__add-button:hover {
  border-radius: 2px;
  opacity: 60%;
  transition: 1s ease;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile__add-button {
      justify-self: right;
      width: 100%;
      margin-top: 36.75px;
      margin-bottom: 36.75px;
      margin-left: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile__add-button {
      justify-self: center;
      max-width: 282px;
      margin: 0;
      margin-top: 36px;
  }
}