.form__input {
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-bottom: 13.3px;
  border-bottom: 1px solid #C4C4C4;
  transition: 0.3s;
}

.form__input:hover {
  border-bottom-color: #000;
}

.form__input:focus {
  border-bottom-color: #007DFF;
}

/*.form__input:valid {
  border-bottom: 1px solid green;
}*/

.form__input_type_error {
  border-bottom-color: red;
}

@media screen and (max-width: 617px) {
  .form__input {
      margin-bottom: 28px;
  }
}