.profile__avatar {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-self: center;
  max-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  margin: 0;
  padding-bottom: 3.75px;
  margin-top: 3.75px;
}
@media screen and (min-width: 320px) and (max-width: 617px) {
  .profile__avatar {
    margin-bottom: 23px;
  }
}
