.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
    min-height: 42px;
    
}
/* @media screen and (min-width: 320px) {
    .profile__info {
        max-width: 88.125vw;
        min-height: 16.875vw;
        margin: 0;
        margin-left: 5.93vw;
        margin-right: 5.93vw;
        margin-bottom: 11.25vw;
    }
  } */