.element {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    min-height: 361px;
    align-content: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}