.header__title {
    display: inline-block;
    position: relative;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    left: 64px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 3;
  }