.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 358px;
<<<<<<< HEAD
  /* margin-bottom: 30px; */
=======
<<<<<<< HEAD:src/blocks/form/form.css
  /* margin-bottom: 30px; */
=======
  margin-bottom: 36px;
>>>>>>> 8dd07bf7c8019ef1f30e8549f9de877ca235a1a6:blocks/form/form.css
>>>>>>> 8f2d5e0bfda83508788e583874b064efe5cec55b
}

/* .form.form_delete-confirm {
  margin-bottom: 0px;
} */

@media screen and (min-width: 320px) and (max-width: 617px) {
  .form {
    width: 100%;
    min-height: 14px;
  }
}
