.form__input {
  width: 100%;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  background-color: transparent;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  padding-bottom: 11.76px;
  /* margin-top: 54px; */
=======
<<<<<<< HEAD:src/blocks/form/__input/form__input.css
  padding-bottom: 11.76px;
  /* margin-top: 54px; */
=======
  margin-top: 13px;
>>>>>>> 8dd07bf7c8019ef1f30e8549f9de877ca235a1a6:blocks/form/__input/form__input.css
>>>>>>> 8f2d5e0bfda83508788e583874b064efe5cec55b
  border-bottom: 1px solid #c4c4c4;
  transition: 0.3s;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD:src/blocks/form/__input/form__input.css
>>>>>>> 8f2d5e0bfda83508788e583874b064efe5cec55b
/* .form__input.form__input-job {
  margin-top: 0;
}

.form__input.form__input-link */

<<<<<<< HEAD
=======
=======
>>>>>>> 8dd07bf7c8019ef1f30e8549f9de877ca235a1a6:blocks/form/__input/form__input.css
>>>>>>> 8f2d5e0bfda83508788e583874b064efe5cec55b
.form__input:hover {
  border-bottom-color: #000;
}

.form__input:focus {
  border-bottom-color: #007dff;
}

.form__input_type_error {
  border-bottom-color: red;
}
<<<<<<< HEAD

=======
<<<<<<< HEAD:src/blocks/form/__input/form__input.css

=======
>>>>>>> 8dd07bf7c8019ef1f30e8549f9de877ca235a1a6:blocks/form/__input/form__input.css
>>>>>>> 8f2d5e0bfda83508788e583874b064efe5cec55b
